# Created by .ignore support plugin (hsz.mobi)
Будет удалено .gitignore
Будет удалено .idea/$CACHE_FILE$
Будет удалено .idea/.gitignore
Будет удалено .idea/bicycle_theme.iml
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/vcs.xml
Будет удалено node_modules/
Будет удалено src/.idea/$CACHE_FILE$
Будет удалено src/.idea/.gitignore
Будет удалено src/.idea/inspectionProfiles/
Будет удалено src/.idea/misc.xml
Будет удалено src/.idea/modules.xml
Будет удалено src/.idea/src.iml
Будет удалено src/.idea/vcs.xml