@media (max-width: $md3+px) {
  body.lock {
    overflow: hidden;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 35px;
  z-index: 50;
  // .header__row
  &__row {
    @include flexbox();
    justify-content: center;
    align-items: center;
    height: 85px;
  }

  // .header__menu
  &__menu {

  }

  // .header__logo
  &__logo {
    position: absolute;
    top: 0;
    z-index: 2;
    align-self: center;
  }

  // $md3 .header
  @media (max-width: $md3+px) {
    top: 15px;
  }

}

.menu {
  // .menu__icon
  &__icon {
    display: none;
    cursor: pointer;

    &.active span {
      transform: scale(0);
      background-color: #64C29E;
    }

    &.active:before {
      transform: rotate(45deg);
      top: 9px;
      background-color: #64C29E;

    }

    &.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
      background-color: #64C29E;
    }

    // .menu__icon
    @media (max-width: $md3+px) {
      display: block;
      position: absolute;
      top: 24px;
      right: 24px;
      width: 30px;
      height: 20px;
      z-index: 3;

      & span {
        position: absolute;
        //top: 50%;
        top: 9px;
        width: 100%;
        height: 2px;
        background-color: #4D4959;
        transition: all 0.3s ease 0s;
      }

      &:before,
      &:after {
        content: "";
        background-color: #4D4959;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

  }

  // .menu__body
  &__body {
  }

  // .menu__list
  &__list {
    @include flexbox();

    li {
      padding: 0 37.5px;
      position: relative;

      &:nth-child(2) {
        padding: 0 110px 0 37.5px;

        &:after {
          display: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #4d4959;
        margin: -3px 0 0 0;
      }

      &:nth-child(3) {
        padding: 0 37.5px 0 110px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  // .menu__link
  &__link {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2.6px;
    color: #4d4959;
    text-transform: uppercase;
  }

  @media (max-width: $md3+px) {
    // .menu__body
    &__body {
      position: fixed;
      top: 0;
      left: -110%;
      width: 100%;
      height: 100%;
      background-color: #4d4959;
      padding: 150px 0 20px 0;
      overflow: auto;
      transition: all 0.3s ease 0s;

      &.active {
        left: 0;
      }
    }

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // $md3 .menu__list li
      li {
        padding: 0 0 45px 0 !important;

        &:last-child {
          padding: 0;
        }

        &:nth-child(2) {
          &:after {
            display: block;
          }
        }

        // $md3 .menu__list li
        &:after {
          top: 65%;
          right: 50%;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #fff;
          margin: 0 -2px 0 0;
        }

      }
    }

    &__link {
      color: #fff;
      font-size: 24px;
    }
  }
}

.icon-menu {
}
